<template>
    <div class="">

        <section class="section">
            <div class="tabs is-centered is-toggle is-toggle-rounded">
                <ul>
                    <li :class="dataType==='range'? 'is-active' : ''" @click="dataType='range'"><a>Range</a></li>
                    <li :class="dataType==='day'? 'is-active' : ''" @click="dataType='day'"><a>Day</a></li>
                </ul>
            </div>
        </section>

        <div class="field is-horizontal" v-show="dataType==='range'">
            <div class="field-label">Date range</div>
            <div class="field-body">
                <div class="field">
                    <div class="field has-addons is-marginless">

                        <p class="control is-expanded">
                            <input type="date" class="button" v-model="startDate" id="start-date">
                        </p>
                    </div>
                    <p class="help">from..</p>
                </div>
                <div class="field">
                    <div class="field has-addons is-marginless">

                        <p class="control is-expanded">
                            <input type="date" class="button" v-model="endDate" id="end-date">
                        </p>
                    </div>
                    <p class="help">to..</p>
                </div>
                <div class="field">
                    <div class="field has-addons is-marginless">

                        <p class="control is-expanded">
                            <button class="button" @click="updateData">Show</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>



        <div class="field is-horizontal" v-show="dataType==='day'">
            <div class="field-label">Day</div>
            <div class="field-body">
                <div class="field">
                    <div class="field has-addons is-marginless">

                        <p class="control is-expanded">
                            <input type="date" class="button" v-model="dayDate" id="day-date">
                        </p>
                    </div>
                    <p class="help">select..</p>
                </div>
                <div class="field">
                    <div class="field has-addons is-marginless">

                        <p class="control is-expanded">
                            <button class="button" @click="updateData">Show</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>



        <div class="field is-horizontal">
            <div class="field-label">Goal</div>

            <div class="field-body">
                <div class="field has-addons">
                    <div class="control">
                        <input type="text" class="input" v-model="goalValue" id="goal-value" placeholder="set a goal" />
                    </div>
                    <div class="control">
                        <a class="button is-info" @click="updateGoal()">
                            Set
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="container">
            <canvas width="300" height="300" ref="canvas"></canvas>
        </div>

    </div>

</template>

<script>

    import 'chart.js';
    import 'chartjs-plugin-annotation';
    import axios from 'axios';
    import moment from 'moment';

    export default Vue.extend ( {
        name: "stats",
        data() {
            return {
                chart: null,
                labels: [],
                data: [],
                goal: [],
                goalValue: 1.2,
                startDate: "",
                endDate: "",
                dayDate: "",
                dataType: ""
            }
        },
        mounted() {
            let now = moment(Date.now()).format("YYYY-MM-DD");
            let before = moment().subtract(7, "d").format("YYYY-MM-DD");
            this.startDate = before;
            this.endDate = now;
            axios.get("/stats/range/" + before + "/" + now)
                .then( response => {
                    this.createData(response.data);
                    this.createGoal(this.goalValue);
                    console.log(response.data);
                    this.createChart(this.$refs.canvas, 'bar');
                });
            this.dataType = "range";
        },
        methods: {
            createData(data) {
                this.labels.length = 0;
                for (let i=0; i<data.length; i++) {
                    let label = "";
                    if (this.dataType === 'range') {
                        label = data[i].day + "/" + data[i].month;
                    }
                    if (this.dataType === 'day') {
                        label = data[i].hour + ":00";
                    }
                    this.data.push(data[i].wait);
                    this.labels.push(label);
                }
            },
            updateData() {
                let url = '';
                if (this.dataType === 'range')
                    url = "/stats/range/" + this.startDate + "/" + this.endDate;
                if (this.dataType === 'day')
                    url = "/stats/daily/" + this.dayDate;
                axios.get(url)
                    .then( response => {
                        this.data.length = 0;
                        this.createData(response.data);
                        this.updateGoal(this.goalValue);
                        this.chart.update();
                        console.log(response.data);
                        // this.createChart(this.$refs.canvas, 'bar');
                    });
            },
            createGoal(value) {
                let size = this.data.length;
                for (let i=0; i<size; i++) {
                    // this.goal.push(value);
                    this.goal[i] = value;
                }
                console.log(this.goal);
            },
            updateGoal() {
                this.goal.length = 0;
                this.createGoal(this.goalValue);
                this.chart.update();
            },
            createChart(canvas, type) {
                this.chart = new Chart(canvas, {
                    type: type,
                    data: {
                        labels: this.labels,
                        datasets: [
                            {
                                type: "line",
                                label: "Goal",
                                data: this.goal,
                                backgroundColor: [
                                    "rgba(71, 183,132,.5)"
                                ],
                                borderColor: [
                                    '#47b784',
                                ],
                                hoverBackgroundColor: "#FF6384",
                                borderWidth: 3
                            },
                            {
                                type: "bar",
                                label: "Waiting time",
                                data: this.data,
                                backgroundColor: "#FF7500",
                                hoverBackgroundColor: "#FF6384",
                                borderWidth: 3
                            },

                        ]
                    },
                    options: {
                        responsive: true,
                        lineTension: 1,
                        layout: {
                            padding: {
                                left: 0,
                                right: 0,
                                top: 0,
                                bottom: 0
                            }
                        },
                        scales: {
                            yAxes: [{
                                id: 'y-axis-0',
                                ticks: {
                                    beginAtZero: true,
                                    padding: 25,
                                    min: 0,
                                    stacked: true
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    beginAtZero: false,
                                    padding: 25,
                                    min: 0
                                }
                            }]
                        },
                        animation: {
                            animateScale: true
                        },
                        annotation: {
                            events: ['click'],
                            annotations: [{
                                type: 'line',
                                mode: 'horizontal',
                                scaleID: 'y-axis-0',
                                value: this.goal[0],
                                borderColor: 'rgb(75, 192, 192)',
                                //borderColor: 'rgba(71, 183,132,.5)',
                                borderWidth: 3,
                                label: {
                                    enabled: true,
                                    content: 'New Goal: ' + this.goal[0]
                                },
                                onClick: function(e) {
                                    console.log('Annotation', e.type, this);
                                }
                            }]
                        },
                    },

                });
            }
        }
    })
</script>

<style scoped>

</style>