<template>
    <div class="content">

        <img src="/images/loader.gif" alt="loading..." v-if="loading" class="image has-image-centered">

        <transition name="bounce">
            <div v-if="!loading">
                <div class="columns">
                    <div class="column is-four-fifths">
                        <p>
                            <b>Tables waiting: {{tables.length}} </b><br>
                            {{status}}
                        </p>
                    </div>
                    <div class="column">
                        <p>
                            <button class="button button-primary" @click="loadTables">Force reload</button>
                        </p>
                    </div>
                </div>

                <table class="table is-striped is-hoverable">
                    <thead>
                    <tr>
                        <th>Table ID</th>
                        <th>Type</th>
                        <th>Label</th>
                        <th>Waiting...</th>
                        <th>Actions</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr v-for="table in tables">
                        <td>{{table.id}}</td>
                        <td :class="'type-'+table.type">{{ucFirst(get_type(table.type))}}</td>
                        <td>{{table.label}}</td>
                        <td>
                            <timer :start="table.created_at"></timer>
                        </td>
                        <td>
                            <a class="button is-warning" @click="done(table.id)">
                                <span class="icon is-small">
                                  <i class="fas fa-check"></i>
                                </span>
                                <span>Done</span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </transition>
    </div>
</template>

<script>

    import axios from 'axios';
    import timer from './Timer.vue';
    import CONFIG from "../config";

    export default {
        name: "tables",
        components: {
            timer
        },
        data() {
            return {
                tables: [],
                status: '',
                es: null,
                loading: false,
            }
        },
        created() {
            this.loadTables();
            this.setupStream();
        },
        beforeDestroy() {
            this.es.close();
        },
        computed: {},
        methods: {
            loadTables() {
                this.loading = true;

                axios.get(CONFIG.HOST_URL + '/tables')
                // axios.get('http://localhost:8000/tables')
                    .then(response => {
                        this.tables = response.data;
                        setInterval( () => this.loading = false, 1000); // TODO: remove, it's only for testing
                    });
            },
            done(id) {
                axios.patch(CONFIG.HOST_URL + '/tables/' + id)
                // axios.patch('http://localhost:8000/tables/' + id)
                    .then(response => {
                        let row = response.data;
                        let index = this.tables.findIndex(o => o.id === row.id);
                        this.tables[index] = row;

                        this.status = "Table " + id + " updated!";
                        // this.loadTables();
                    });

                this.loadTables(); // TODO: this works as it is. Or could just ask SSE to re-load it
            },
            setupStream() {
                this.es = new EventSource(CONFIG.HOST_URL + '/stream');
                // this.es = new EventSource('http://localhost:8000/stream');

                /*this.es.onmessage = (e) => {
                    let data = e.data;
                    this.stockData = data;
                    console.log("SSE DATA: " + data);
                };
                this.es.onerror = (e) => {
                    if (e.readyState === EventSource.CLOSED) {
                        console.log("Connection error: " + e);
                    }
                };

                this.es.onopen = (e) => {
                    console.log("Connection opened: " + e);
                };*/

                this.es.addEventListener('message', event => {
                    let data = event.data;
                    // this.stockData = data;
                    if (data !== "NULL") {
                        this.tables = JSON.parse(data);
                        // console.log("SSE data: " + data);
                    } else {
                        //console.log("SSE data (null?): " + data);
                    }
                }, false);

                this.es.addEventListener('error', event => {
                    if (event.readyState === EventSource.CLOSED) {
                        console.log(EventSource);
                    }
                }, false);
            },
            get_type(type) {
                switch (type) {
                    case 0:
                        return "menu";
                    case 1:
                        return "order";
                    case 2:
                        return "check";
                    case 3:
                        return "other";
                    default:
                        return "wut?!";
                }
            },
            ucFirst(string) {
                return string.charAt(0).toUpperCase() + string.slice(1);
            }
        }
    }
</script>

<style scoped>
    .type-0 {
        color: red;
        font-weight: bolder;
        font-size: 1.1em;
    }
    .type-1 {
        color: orange;
        font-weight: bolder;
        font-size: 1.1em;
    }
    .type-2 {
        color: green;
        font-weight: bolder;
        font-size: 1.1em;
    }
    .type-3 {
        color: blue;
        font-weight: bolder;
        font-size: 1.1em;
    }
    .has-image-centered {
        margin: 0 auto;
        text-align: center;
    }

    .bounce-enter-active {
        animation: bounce-in .5s;
    }
    .bounce-leave-active {
        animation: bounce-in .5s reverse;
    }
    @keyframes bounce-in {
        0% {
            transform: scale(0);
        }
        50% {
            transform: scale(1.5);
        }
        100% {
            transform: scale(1);
        }
    }
</style>