<template>
    <div>
        {{get_time}}
    </div>
</template>

<script>

    import moment from 'moment';

    export default {
        name: "Timer",
        props: {
            start: String
        },
        data() {
            return {
                time: this.start,
                now: new Date(),
                interval: null
            }
        },
        created() {
            moment.locale('da');

            this.refreshEverySeconds(1000); // time is in milliseconds!
        },
        beforeDestroy() {
            clearInterval(this.interval);
        },
        computed: {
            get_time() {
                // let passed = (new Date() - Date.parse('4 July 2018 01:23:22') ) / 1000 % 60;
                let passed = this.now - Date.parse(this.time);
                passed = moment.duration(passed);
                return (passed.days() ? (passed.days() + "d ") : "") + passed.hours() + 'h ' + passed.minutes() + 'm ' + passed.seconds() + 's';
            }
        },
        methods: {
            refreshEverySeconds(time) {
                this.interval = setInterval( () => {
                    this.now = new Date();
                }, time);
            }
        }
    }
</script>

<style scoped>

</style>